* {
  all: unset; 
}

//Global Styles
window {
  background-color: rgba(0, 0, 0, 0.0);
  color: #FFFFFF;
  font-family: Fira Code;
}

button {
  all: unset;
  background-color: #282a36;
  padding: 10px;
}

/// Player

.player {
  background-color: #282a36;
  border-radius: 0px; 
}

.icon {
  background-size: 330px;
  background-repeat: no-repeat;
  background-color: rgba(20, 20, 20, 0.6);
  min-height: 180px;
  min-width: 330px;
  margin-top: 0px;
  margin-bottom: 10px;
  border-radius: 0px;
}

.artist {
  font-family: Fira Code;
  font-size: 16px;
  margin-bottom: 10px; 
  margin-right: 0px;
  color: #FFFFFF;
}

.title {
  font-family: Fira Code; 
  font-size: 18px;
  margin-bottom: 10px; 
  margin-right: 0px;
  padding: 10px;
  background-color: rgba(200, 200, 200, 0.1); 
  color: #FFFFFF;
  border-radius: 10px;
}

.music-info scale trough {
  all: unset;
  background-color: rgba(200, 200, 200, 0.6);
  border-radius: 50px;
  min-height: 10px;
  min-width: 200px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
}

.music-info scale trough highlight {
  all: unset;
  background-color: #fdccff;
  color: #000000;
  border-radius: 10px;
}

.control {
  padding: 0px;
}
.control button {
  font-size: 15px;
  color: #F0FFFF;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 20px;
}

.control button:hover {
  color: #ff79c6;
  background-color: rgba(200, 200, 200, 0.3);
  border-radius: 10px;
}

/// Power

.power {
  background-color: rgba(40, 42, 54, 0.5);
  border-radius: 0px; 
}

.icon_user {
  background-size: 300px;
  background-repeat: no-repeat;
  background-color: rgba(40, 42, 54, 0.0);
  min-height: 225px;
  min-width: 300px;
  margin-top: 100px;
  margin-bottom: 0;
  border-radius: 0;
}

.user {
  font-family: Fira Code; 
  font-size: 40px;
  margin-bottom: 10px; 
  padding: 0px;
  background-color: rgba(40, 42, 54, 0.0); 
  color: #ff79c6;
  border-radius: 0px;
}

.time {
  font-family: Fira Code; 
  font-size: 60px;
  margin-bottom: 0; 
  margin-right: 0;
  padding: 0;
  background-color: rgba(40, 42, 54, 0.0);
  color: #FFFFFF;
  border-radius: 0px;
}

.bye {
  font-size: 30px;
  color: #b8e9fd;
  background-color: rgba(187, 187, 187, 0.1);
  border-radius: 10px;
  margin: 20px;
}

.power-control button {
  font-size: 36px;
  color: #F0FFFF;
  background-color: rgba(40, 42, 54, 0.0);
  border-radius: 10px;
  margin: 20px;
}

.power-control button:hover {
  color: #bd93f9;
  background-color: rgba(40, 42, 54, 0.0);
  border-radius: 10px;
}

.exit {
  padding: 100px;
}
.exit button {
  font-size: 20px;
  color: #000000;
  background-color: rgba(187, 187, 187, 0.7);
  border-radius: 10px;
  margin: 20px;
}

.exit button:hover {
  color: #bd93f9;
  background-color: rgba(187, 187, 187, 0.2);
  border-radius: 10px;
}

//calendar
.main {
	background-color: #282a36;
	font-family: Fira Code;
	font-style: italic;
	font-size: 15px;
	color: #bebebe;
    min-width: 16px;
	min-height: 30px;
}
calendar {
	padding: 2px 4px 0px 4px;
	font-size: 17px;
	font-family: Fira Code;
	font-style: normal;
}
/*calendar:disabled {
	color: rgba(190, 190, 190, 0.2);
}*/
calendar:selected {
	border-radius: 3px;
	color: #e6dad6;
	background-color: rgba(108, 96, 90, 0.7);
}
calendar.header {
	color: #6c605a;
	font-weight: bold;
}
calendar.button {
	color: rgba(108, 96, 90, 0.7);
}
calendar.highlight {
	color: rgba(108, 96, 90, 0.7);
	font-weight: bold;
}
calendar:indeterminate {
	color: rgba(108, 96, 90, 0.3);
}
.calendar {
	background-color: #282a36;
	color: #bebebe;
	padding: 17px;
}
.calendar-date {
	margin-left: 6px;
	font-size: 40px;
	font-weight: 600;
}
.calendar-date-num {
	font-family: Fira Code;
	margin-left: 6px;
	font-size: 40px;
	font-weight: 300;
}
.calendar-year {
	margin-left: 6px;
	font-family: Fira Code;
	font-size: 18px;
	font-weight: 500;
	color: #bbbbbb;
}
.calendar-info {
	margin-left: 40px;
}
.app-times {
	font-size: 15px;
	font-family: Fira Code;
	font-style: normal;
	font-weight: normal;
	color: #8be9fd;
	margin-left: 15px;
}
.app-names {
	font-size: 15px;
	font-family: Fira Code;
	font-style: italic;
	font-weight: normal;
	margin-left: 40px;
}
.todo-names {
	font-size: 15px;
	font-family: Fira Code;
	font-style: italic;
	font-weight: normal;
	margin-left: 15px;
}
.next-app {
	font-weight: 700;
	font-size: 15px;
	margin-bottom: 10px;
}
.next-app-text {
	font-family: Fira Code;
	font-style: normal;
	font-size: 15px;
	margin-bottom: 10px;
}
.quote {
	font-weight: 400;
	font-size: 17px;
	margin-bottom: 5px;
}
.quote-info {
	font-weight: 300;
	font-family: Fira Code;
	font-style: normal;
	margin-left: 50px;
}
.quote-time {
	font-size: 13.5px;
	margin-right: 10px;
	font-weight: 500;
	color: rgba(108, 96, 90, 0.7);
}
.quote-number {
	font-size: 13.5px;
	margin-right: 10px;
	font-family: Fira Code;
	font-style: normal;
	color: rgba(108, 96, 90, 0.7);
}
.quotation-mark {
	font-size: 25px;
}
.quote-title {
	font-weight: 500;
	font-family: Fira Code;
	font-style: italic;
	color: rgba(108, 96, 90, 0.9);
}
.quote-container {
	margin-bottom: 30px;
}
// Apparently when objects are rotated by 90deg, their x and y axis swaps
expander {
	all: unset;
	// Make up for the translation
	margin-left: 4px;
}
expander title {
	font-weight: 600;
}
expander title:hover {
	font-weight: bold;
}
expander arrow {
	all: unset;
	transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
	min-width: 16px;
	min-height: 30px;
	-gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
	-gtk-icon-transform: rotate(-90deg) translateY(-8px);
	color: rgba(256, 256, 256, 0.73);
}
expander arrow:dir(rtl) {
	-gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}
expander arrow:checked {
	-gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
	// Since we rotated -90, we have to add this to rotate back
	-gtk-icon-transform: rotate(0deg) translateX(-8px);
}
expander arrow:checked:hover {
	-gtk-icon-transform: rotate(0deg) translateX(-4px);
	color: rgba(256, 256, 256, 0.73);
}
expander arrow:hover, expander arrow:active {
	-gtk-icon-transform: rotate(-90deg) translateY(-4px);
	color: rgba(256, 256, 256, 0.73);
}

.calendar-year-dark {
	margin-left: 6px;
	font-family: Fira Code;
	font-size: 18px;
	font-weight: 500;
	color: rgba(190, 190, 190, 0.7);
}
.quote-time-dark {
	font-size: 13.5px;
	margin-right: 10px;
	font-weight: 500;
	//color: rgba(190, 190, 190, 0.6);
	color: #50fa7b;
}
.quote-number-dark {
	font-size: 13.5px;
	margin-right: 10px;
	font-family: Fira Code;
	font-style: normal;
	color: #50fa7b;
	//color: rgba(190, 190, 190, 0.6);
}
.quote-title-dark {
	font-weight: 500;
	font-family: Fira Code;
	font-style: italic;
	color: #55586b;
}
.quote-author-dark {
	color: #55586b;
}
.calendar-dark {
	padding: 17px;
}
.calendar-dark calendar:selected {
	border-radius: 3px;
	color: #FFFFFF;
	background-color: rgba(190, 190, 190, 0.6);
}
.calendar-dark calendar.header {
	color: #bd93f9;
	font-weight: bold;
}
.calendar-dark calendar.button {
	color: #bd93f9;
}
.calendar-dark calendar.highlight {
	color: #8be9fd;
	font-weight: bold;
}
.calendar-dark calendar:indeterminate {
	color: rgba(155, 155, 155, 0.4);
}
.calendar-dark expander arrow {
	all: unset;
	transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
	min-width: 16px;
	min-height: 30px;
	-gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
	-gtk-icon-transform: rotate(-90deg) translateY(-8px);
	color: rgba(190, 190, 190, 0.5);
}
.calendar-dark expander arrow:checked:hover {
	-gtk-icon-transform: rotate(0deg) translateX(-4px);
	color: #8be9fd;
}
.calendar-dark expander arrow:hover, expander arrow:active {
	-gtk-icon-transform: rotate(-90deg) translateY(-4px);
	color: #8be9fd;
}
.calendar-dark .app-times {
	font-size: 15px;
	font-family: Fira Code;
	font-style: normal;
	font-weight: normal;
	color: #8be9fd;
	margin-left: 15px;
}




.eww-window, .profile, .date, .player, .system-info, .powermenu {
    background-color: #282a36;
    border-radius: 10px;
}

.eww-window {
    background-color: #181a26;

    color: white;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.titlebar {
    color: #8be9fd;
    font-size: 16px;
    font-weight: bolder;

    margin-top: -555px;
    margin-left: -0px;
}

// PROFILE

.pfp {
    background-image: url("/home/thepenguin/.face.icon");
    background-size: 79px 79px;
    background-repeat: no-repeat;

    margin-top: 20px;
    margin-bottom: -40px;
    margin-left: 23px;
    margin-right: 207px;
    
    border-radius: 5px;
}

.username {
    margin-top: -45px;
    margin-right: -75px;

    color: #8be9fd;
    font-size: 14px;
    font-weight: bold;
}

.realname {
    margin-top: -55px;
    margin-right: -75px;

    color: #8be9fd;
    font-size: 18px;
    font-weight: bold;
}


// DATE

.time {
    margin: 15px 65px -20px 65px;
    font-size: 50px;
}

.semicolon {
    margin: 0px;
    margin-top: -5px;
    color: #ff79c6;
}

.day {
    margin-top: 25px;
    margin-bottom: 20px;

    font-size: 16px;
    font-weight: bold;
    color: #ff79c6;
}

// PLAYER

.song-art {
    background-size: 79px 79px;
    background-repeat: no-repeat;

    margin-top: 16px;
    margin-bottom: 15px;
    margin-left: 23px;
    margin-right: 52px;
    
    border-radius: 5px;
}

.song-data {
    font-size: 16px;
    font-weight: bold;

    margin: 25px 0px 0px -50px;
}

.song-title {
    font-family: "Fira Code";
    font-size: 14px;
    font-weight: bold;

    padding-right: 30px;
}

.player-btn {
    padding: 25px 25px 5px;

    margin-top: -5px;
}

.player-btn button {
    color: #bd93f9;

    font-family: "Material Icons";

    padding-right: 30px;
}

.player-btn button:hover {
    color: #c398ff;
}

// SYSTEM INFO

.system-info {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.system-info slider {
    all: unset;
}

.label-ram-bar, .label-vol-bar, .label-brightness-bar {
    font-size: 18px;
    font-weight: bold;

    margin-top: 10px;
    margin-left: -37px;
}

.label-ram-bar {
    margin-top: 25px;
}

.label-vol-bar {
    margin-left: -35px;
}

.ram-bar scale trough highlight, .vol-bar scale trough highlight, .brightness-bar scale trough highlight {
    all: unset;
    background-image: linear-gradient(to right, #84A0C6, #95c4ce);
	color: #000000;
	border-radius: 10px;
}

.ram-bar scale trough {
	all: unset;
	background-color: #191C2A;
	border-radius: 50px;

	min-height: 5px;
    min-width: 150px;

    margin: 23px 45px 0px -50px;
}

.vol-bar scale trough, .brightness-bar scale trough {
	all: unset;
	background-color: #191C2A;
	border-radius: 50px;

	min-height: 5px;
    min-width: 150px;

    margin: 8px 45px 0px -50px;
}

// POWERMENU

.powermenu-btn button {
    font-family: "Material Icons";
    font-size: 50px;

    background-color: #181925;
    border-radius: 15px;

    margin: 15px;
    margin-left: 7px;
    margin-right: 7px;
    padding: 0px 15px 0px 15px;
}

.shutdown-btn {
    color: #ff5555;
}

.lock-btn {
    color: #f1fa8c;
}

.logout-btn {
    color: #bd93f9;
}
